<h1>calendar</h1>
<%- include('partials/partial.ejs')%>
<div class="container calendar">
  <div class="row">
    <!-- week one -->
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">1</a><p>Monday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">2</a><p>Tuesday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">3</a><p>Wednesday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">4</a><p>Thursday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">5</a><p>Friday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">6</a><p>Saturday</p></div>
  <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">7</a><p>Sunday</p></div>

    <!-- week two-->

    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">8</a><p>Monday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">9</a><p>Tuesday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">10</a><p>Wednesday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">11</a><p>Thursday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">12</a><p>Friday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">13</a><p>Saturday	</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">14</a><p>Sunday</p></div>

    <!-- week three-->

    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">15</a><p>Monday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">16</a><p>Tuesday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">17</a><p>Wednesday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">18</a><p>Thursday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">19</a><p>Friday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">20</a><p>Saturday	</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">21</a><p>Sunday</p></div>

    <!-- week four-->

    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">22</a><p>Monday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">23</a><p>Tuesday</p></div>
    <div class="day col-md-1 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">24</a><p>Wednesday</p></div>

</div>
</div>
