  <div class="container calendar">
    <div class="calendarHead">
      <h1>Sweet Season</h1>
      <p>Click on the corresponding day and discover the recipe. Fun with your friends</p>
    </div>
    <div class="row">
      <!-- week one -->
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">1</a>
        <p>MON</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">2</a>
        <p>TUE</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">3</a>
        <p>WED</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">4</a>
        <p>THU</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">5</a>
        <p>FRI</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">6</a>
        <p>SAT</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">7</a>
        <p>SUN</p>
      </div>

      <!-- week two-->

      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">8</a>
        <p>MON</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">9</a>
        <p>TUE</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">10</a>
        <p>WED</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">11</a>
        <p>THU</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">12</a>
        <p>FRI</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">13</a>
        <p>SAT </p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">14</a>
        <p>SUN</p>
      </div>

      <!-- week three-->

      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">15</a>
        <p>MON</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">16</a>
        <p>TUE</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">17</a>
        <p>WED</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">18</a>
        <p>THU</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">19</a>
        <p>FRI</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">20</a>
        <p>SAT </p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">21</a>
        <p>SUN</p>
      </div>

      <!-- week four-->

      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">22</a>
        <p>MON</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">23</a>
        <p>TUE</p>
      </div>
      <div class="day col-xs-1 col-md-2 col-sm-12"><a href="/calendar/recipe/<%= all[recipes].id %>">24</a>
        <p>WED</p>
      </div>

    </div>
  </div>
