<h2>PROFILE</h2>

<h3><%= user.name %> | <%= user.title %></h3>
<img src="/uploads/<%= user.picture.name %>" alt="Your profile picture!">
<h5>Points: <%= user.points %></h5>
<h5>Leagues: <%= user.leagues %></h5>
<h6><em>About me: <%= user.about %></em></h6>
<br><br>
<a href="/profile/edit/<%= user.id %>">You wanna some change?, Edit your profile!</a>
