<%- include('partials/navBar.ejs')%>
<div class="col-xs-12 col-sm-4 container profile">
  <div class="paragraf">
  <%= user.picture %>
  <div class="col-xs-7 col-sm-12"><img src="/uploads/picProfile/<%= user.photo %>" alt="I need photo!" style="height:200px"></div>
  <p><%= user.name %> <%= user.title %></p>
  <p>Points: <%= user.points %>  Leagues: <%= user.leagues %></p>
</div>
<p>About me: <%= user.about %></p>
<p>You wanna some change?,<br><a href="/profile/edit/<%= user.id %>">Edit your profile!</a></p>
</div>
<% if(userActive.id == user.id){ %>
  <a href="/profile/edit/<%= user.id %>">You wanna some change?, Edit your profile!</a>
<% } else{ %>
  <a href="/profile/add/<%= user.id %>">Wanna be friend of <%= user.name %>? Add to your friend list! </a>
<% } %>
|
<a href="/main">Home!</a>
<br><br>
<h4>FRIENDS</h4>
<ul>
  <% user.friends.forEach(e => { %>
    <a href="#"><li><%= e %></li></a>
  <% }) %>
</ul>
