<<<<<<< HEAD

=======
>>>>>>> 3b1c858252f89f2715326f7fcd8d24216b5d1b98
  <div class="container-fluid recipes">

    <div class="maindiv">
      <img src="/uploads/picProfile/<%= user.photo %>" alt="photo" style="height:50px">
      <h4>Hello <%= user.name %>!</h4>
      <div>
        <a href="/profile/<%= user.name %>">Your Profile</a> or
        <a href="/login">Log Out</a>
      </div>
      <!-- Temporal, subida de foto -->
      <form action="/profile/<%= user.name %>/upload" method="POST" enctype="multipart/form-data">
        <br>
        <label for="photo">Upload your photo!</label>
        <input class="filePhoto" type="file" name="photo">
        <br>
        <button>Upload!</button>
      </form>
      <!-- ######################## -->
<<<<<<< HEAD

=======
>>>>>>> 3b1c858252f89f2715326f7fcd8d24216b5d1b98
    </div>
  </div>
  <section>
    <div class="imgRecipes">
      <h2>Recipes</h2>
      <img src="<%= recipe.imgUrl %>" alt="No deberia haber foto?" style="height:200px">
      <p>
        <%= recipe.name %> |
          <%= recipe.duration %> |
            <%= recipe.foodProfile %> | Points for complete:
              <%= recipe.points %>
      </p>
    </div>
  </section>
  <section>
    <ul>
      <% recipe.ingredients.forEach(i => { %>
        <li><img src="/img/cookie.jpg" alt="cookie">
          <%= i %>
        </li>
        <% }) %>
    </ul>
  </section>
  <section>
    <p>
      <%= recipe.preparation %>
    </p>
  </section>
</div>
